.search-form {
    margin-left: 1rem;
  }
  
  .search-form input {
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    background-color: #eee;
    width: 600px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .search-form input:focus {
    background: #fff;
  }